
body{background-image:url('bgb.jpg');
background-attachment:fixed;
background-size:100% 100%;}

div.row{border-size:1px;border-style:solid;border-radius:10px;font-weight:bold;font-family:ROG Fonts;width:100%;height:20%}

div.a{text-align:center;display:block;position:relative;font-size:2vw;background:rgba(0, 243, 255,.71);height:100%;border-radius:5px;width:25%}
.aa{display:none;font-size:20;}
.a:hover .aa{display:block;text-align:center;position:relative;background:rgba(0, 243, 255,.91);transition:height 1s;border-radius:10px;transition-delay:5s;}
.a:hover{background:rgba(0, 243, 255,.91);}



div.b{text-align:center;display:block;position:relative;font-size:30px;background:rgba(0, 243, 255,.71);height:100%;border-radius:5px;width:25%}
.bb{display:none;font-size:20;}
.b:hover .bb{display:block;text-align:center;position:relative;background:rgba(0, 243, 255,.91);transition:height 1s;border-radius:10px}
.b:hover{background:rgba(0, 243, 255,.91);}



div.c{text-align:center;display:block;position:relative;font-size:30px;background:rgba(0, 243, 255,.71);height:100%;border-radius:5px;width:25%}
.cc{display:none;}
.c:hover .cc{display:block;text-align:center;position:relative;background:rgba(0, 243, 255,.91);transition:height 1s;border-radius:10px}
.c:hover{background:rgba(0, 243, 255,.91);}



div.d{text-align:center;display:block;position:relative;font-size:30px;background:rgba(0, 243, 255,.71);height:100%;border-radius:5px;width:25%}
.dd{display:none;}
.d:hover .dd{display:block;text-align:center;position:relative;background:rgba(0, 243, 255,.91);transition:height 1s;border-radius:10px}
.d:hover{background:rgba(0, 243, 255,.91);}



p.intro{font-size:20px;color:white;text-shadow:0 0 9px black;text-align:center;font-family:ROG Fonts;}

div.photo{text_align:center;width:100%;font-size:30;text-align:center;background:rgba(255,250,250,0.7);background-image:url('animal.jpg');background-size:100% 100%;height:70%;margin-top:200px;margin-bottom:200px;opacity:0.9}
div.photo:hover{opacity:1;}

p.phead{text-align:center;font-size:40;font-weight:bold;color:red;}
p.pcon{text-align:center;font-size:20;color:white;text-shadow:0 0 7px black;}



div.game{text-align:center;width:100%;font-size:30;text-align:center;background:rgba(255,250,250,0.7);background-image:url('game.jpg');background-size:100% 100%;height:70%;margin-top:200px;margin-bottom:200px;opacity:0.9}
div.game:hover{opacity:1;}

p.ghead{text-align:center;font-size:40;color:yellow;font-family:ROG Fonts}
p.gcon{text-align:center;font-size:20;color:white;text-shadow:0 0 7px black;font-family:ROG Fonts;}


a{text-decoration:none;}




div.sketch{text-align:center;width:100%;font-size:30;text-align:center;background:rgba(255,250,250,0.7);border-radius:;background-image:url('sketch.jpeg');background-size:100% 100%;height:70%;margin-top:200px;margin-bottom:200px;opacity:0.9}
div.sketch:hover{opacity:1;}

p.shead{text-align:center;font-size:40;color:black;font-family:ROG Fonts}
p.scon{text-align:center;font-size:20;color:black;text-shadow:0 0 20px white;font-family:ROG Fonts;}




p.self{text-align:center;font-size:25;color:white;text-shadow:0 0 7px black;font-weight:bold;font-family:ROG Fonts;}
p.cons{text-align::center;font-size:20;color:white;font-family:ROG Fonts;}

a.link{text-decoration:none;}

div.bottom{;width:100%;font-size:15;background-attachment:fixed;text-align:center;color:white;margin-top:120px;}
